.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
  }
.slick-list
{
    position: relative;
   display: block;
    overflow: hidden;
   margin: 0px 0px 40px 0px;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slide
{
    display: none;
    float: left;  
   height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-initialized .slick-slide
{
    display: block;
}
 .slick-prev, .slick-next{
     font-size: 0; 
     line-height: 0;
     position: absolute;
     top: 50%;
     display: block;
     padding: 0;
     transform: translate(0, -50%);
     cursor: pointer;
     border: none;
     outline: none;
     background-color: transparent;
     background-color: rgba(255, 255, 255, 0.666);
     padding: 5px;
     z-index:  1;
     transition: all 0.3s ease .0s;
 }
 .slick-prev:hover,.slick-next:hover{
  background-color: rgba(171, 171, 171, 0.825);
 }
 .slick-prev {
     left:  15px;
 }
 .slick-next {
     right: 15px;
 }
 .slick-prev:before, .slick-next:before {
    line-height: 1;
  color: #000000;
  transition: all 0.3s ease .0s;
  }
 .slick-dots {
   text-align: center;
 }
 .slick-dots li
 {
     position: relative;
     display: inline-block;
     width: 20px;
     height: 20px;
     margin: 0 5px;
     padding: 0;
     cursor: pointer;
 }
 .slick-dots li button
 {
     font-size: 0;
     line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
     width: 15px;
     height: 15px;
     padding: 5px;
     cursor: pointer;
     border: 0;
     outline: none;
     background-color: rgb(166, 166, 166);
     border-radius: 50%;
     transition: all 0.3s ease .0s;
 }
 .slick-dots li button:hover {
   background-color: rgb(82, 82, 82);
 }
 .slick-dots li button:focus {
   background-color: $yellow;
 }
@media screen and (max-width: 850px) {  
  .slick-list
  {
     margin: 0px 0px  10px 0px;
  }
  }
 @media screen and (max-width: 600px) {
 .slick-next:before, .slick-prev:before {
    width: 12px;
    height: 12px;
    background-size: 12px 12px ;
  }
  }
