 


.service-single-1 {
	padding:70px 0px 0px 0px;
}
.ss1-title {
}
.ss1-subTitle {
	margin:20px 0px 0px 0px;
}
.ss1-row {
	display:flex;
	margin:0 -20px;
	margin-top:50px;
}
.ss1-text {
	margin:0px 0px 60px 0px;
}
.ss1-left {
	flex-basis:70%;
	padding:0 20px;
}
.ss1-left__image img {
	width:100%;
	margin:0px 0px 40px 0px;
}
.ss1-left__text {
}
.ss1-leftBottom__row {
	margin:40px 0px 0px 0px;
}
.ss1-leftBottom__title {
}
.ss1-leftBottom__listRow {
	margin:20px 0px 0px 0px;
}
.ss1-left__list {
	position:relative;
	padding:0px 0px 0px 30px;
	margin:0px 0px 10px 0px;
}
.ss1-left__list::before {
	content:'';
	position:absolute;
	top:2px;
	left:0;
	background:url('../../../assets/img/icons/check.svg') 0px 0px no-repeat;
	width:20px;
	height:20px;
}
.ss1-left__ButtonRow {
	display:flex;
	align-items:center;
	margin:50px 0px 0px 0px;
}
.ss1-Button__left {
	display:flex;
	align-items:center;
	/* flex-basis:50%;
	*/
 height:40px;
	font-size:14px;
	background-color:#4A4A4A;
	color:rgb(255,255,255);
	padding:0px 10px 0px 10px;
	margin:0px 10px 0px 0px;
	white-space:nowrap;
}
.ss1-Button__right {
	width:250px;
	/* flex-basis:50%;
	*/
}
.ss1-button__container {
	margin:0px 0px 0px 0px;
	height:40px;
	width:100%;
	border:2px solid #FF9800;
}
.ss1-formContainer {
	margin:30px 0px 0px 0px;
}
.ss1-button__container:hover .button-row {
	top:-40px;
}
.button-row {
	width:100%;
}
.ss1__buttonOne,.ss1__buttonTwo {
	height:40px;
	width:100%;
	font-size:14px;
	letter-spacing:0.05rem;
}
.ss1-right {
	flex-basis:30%;
	padding:0 20px;
}
.ss1-right__formRow {
	width:100%;
	background-color:#F5F5F5;
	padding:40px 20px 60px 20px;
}
.ss1-right__title {
}
.ss1-right__text {
	margin:10px 0px 20px 0px;
	font-size:16px;
}
.ss1-right__input {
	width:100%;
	height:40px;
	margin:0px 0px 10px 0px;
}
.ss1-right__textarea {
	width:100%;
	height:100px;
	background-color:#fff;
	border:none;
}
@media screen and (max-width:900px) {
	.ss1-left {
	flex-basis:60%;
}
.ss1-right {
	flex-basis:40%;
}
.ss1__buttonOne,.ss1__buttonTwo {
	font-size:12px;
}
}
@media screen and (max-width:768px) {
	.service-single-1 {
	padding:40px 0px 0px 0px;
}
.about-1 {
	padding:40px 0px 0px 0px;
}
.ss1-row {
	margin-top:20px;
}
.ss1-text {
	margin:0px 0px 40px 0px;
}
}
@media screen and (max-width:680px) {
	.ss1-row {
	display:flex;
	flex-direction:column;
}
.ss1-right {
	margin:30px 0px 0px 0px;
}
.ss1-right__formRow {
	padding:30px 20px 30px 20px;
}
.ss1-button__container {
	margin:0px 0px 0px 0px;
}
.ss1-formContainer {
	margin:30px 0px 0px 0px;
}
}
@media screen and (max-width:350px) {
	.ss1-Button__left {
	font-size:13px;
	padding:0px 5px 0px 5px;
	margin:0px 10px 0px 0px;
}
}